.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.content {
  position: absolute;
  bottom: 8%;
  right: 7%;
  display: block;
  text-align: center;
  z-index: 12;
  visibility: hidden;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-shadow: 0 0 0.5px #673a7c, 0 0 1px #673a7c, 0 0 2px #673a7c, 0 0 3px whitesmoke,
 0 0 3.4px #e0dede;
}

@media (max-width: 600px) {
  .content {
    width: 90%;
    margin-right: 5%;
  }
}

.content-name {
  margin: 0;
  font-size: 4.2rem;
  
}

@media (max-width: 1280px) {
  .content-name {
    font-size: 4rem;
    margin-top: -15%;
  }
}

@media (max-width: 1000px) {
  .content-name {
    font-size: 4rem;
    margin-top: 5%;
    
  }
}

@media (max-width: 700px) {
  .content-name {
    font-size: 3.5rem;
  }
}

@media (max-width: 600px) {
  .content-name {
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  .content-name {
    font-size: 2.8rem;
  }
}

@media (max-width: 400px) {
  .content-name {
    font-size: 2rem;
  }
}

@media (max-width: 300px) {
  .content-name {
    font-size: 1.85rem;
  }
}

.content-title {
  margin: 0;
  font-size: 3.5rem;
}

@media (max-width: 1280px) {
  .content-title {
    font-size: 3rem;
    margin-top: 1%;
  }
}

@media (max-width: 700px) {
  .content-title {
    font-size: 2.7rem;
  }
}

@media (max-width: 600px) {
  .content-title {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .content-title {
    font-size: 2.2rem;
  }
}

@media (max-width: 400px) {
  .content-title {
    font-size: 1.8rem;
  }
}


.love-of-code {
  position: absolute;
  background: -webkit-linear-gradient(45deg, #eee 30%, #4c285e 100%, #eee 30%);
  padding:  1.5%;
  border-radius: 1rem;
  top: 8%;
  left: 4%;
  z-index: 500;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  transform: rotate(-5deg);
}

@media (max-width: 600px) {
  .love-of-code {
    padding: 0 1%;
    top: 10%;
    background: none;
    color: #eee;
    transform: rotate(0deg);
  }
}

.love-of-code h2 {
  font-size: 3rem;
  margin-bottom: -2.5%;
  text-align: center;
}

@media (max-width: 450px) {
  .love-of-code h2 {
    font-size: 2.5rem;
  }
}

.love-of-code h3 {
  font-size: 2.2rem;
  text-align: center;
}

@media (max-width: 600px) {
  .love-of-code h3 {
    font-size: 1.9rem;
  }
  
}

.love-of-code .hello {
  font-size: 2rem;
  text-decoration: underline #4c285e;
  text-underline-offset: 2px;
  margin-bottom: 4%;
  text-align: center;
}

@media (max-width: 450px) {
  .hello {
    display: none;
  }
}

.name-title {
  margin: 1% 0;
  border-radius: 0.4rem;
}
@media (max-width: 600px) {
  .name-title {
  margin-top: 8%;
}
}


.developer-logo {
  position: fixed;
  z-index: 600;
  top: 1.5%;
  left: 1%;
  border-radius: 50%;
  opacity: 1;
  box-shadow: inset 0 0 3px white, 0 0 2px white, 0 0 3px white, 0 0 4px white,
 0 2px 5px #3a043a, 0 4px 5px #3a043a;
  background-color: rgba(20, 5, 18, 0.7);
}

.dev-logo-img {
  height: 3.5rem;
}